/* The Modal (background) */
.modal {
    /*display: block; /* Hidden by default (but showed by js) */
    position: fixed; /* Stay in place */
    z-index: 1050; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto auto auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%;  /* Could be more or less, depending on screen size */
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }
  
  /*####################################*/
  
  @media screen and (max-width: 850px) {
    .h1{
      font-size: 5vh;
    }
    .h3{
      font-size: 3vh;
    }
  }
  @media screen and (min-width: 850px) {
    .h1{
      font-size: 10vh;
    }
    .h3{
      font-size: 3vh;
    }
    .display1{
      font-size: 4vh;
    }
    }
  
    @media screen and (max-width: 390px) {
      .h1{
        font-size: 1.5vh;
      }
      }
.B {
 background-color: coral; 
}
.A {
  background-color:cornflowerblue;
 }

#Upper{
  cursor: pointer;
}
#Lower{
  cursor: pointer;
}

.name{
  cursor: pointer;
}

div{
  border: 0px;
}

.top-limit{
  border-top: 7px;
  border-style: solid;
}

.bottom-limit{
  border-bottom: 5px;
  border-style: solid;
}

.left-limit{
  border-left: 5px;
  border-style: solid;
}

.right-limit{
  border-right: 5px;
  border-style: solid;
}

body{
  background-image: url("background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-color: #858;*/
}

.custom-control-input:not(:checked) ~ .custom-control-label::before {
  background-color: #FAF; /* Change the background color of the toggle when it is not checked */
  border-color: white; /* Change the border color of the checkbox when it is not checked */
  border-width: 3px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #93B ; /* Change the color of the toggle when it is checked */
  border-color: white; /* Change the border color of the toggle when it is checked */
  border-width: 3px;
}

#Option{
  position: absolute;
  top: 20px;
  right: 100px;
  width: 50%;
  height: 10%;
}

.AP{
  position: absolute;
  right: 220px;
  font-weight: bold;
  color: white;
  top: 7px;
}

#goal{
  width: 100px;
  text-align: center;
  position: absolute;
  right: 100px;
  background-color: #FAF;
  border-color: black;
  color: black;
  font-size: 20px;
}

button{
  color: black !important;
  font-size: 30px !important;
}

#editNames button{
  font-size: 20px !important;
}